{% extends "base.html"%}
{% block content %}

<div class="homenav">
    <div class="navbar navbar-expand-md navbar-light bg-light">
        <h1 class="my-0 mr-md-auto font-weight-normal">FilterApp</h1>
        <nav class="navbar navbar-expand-md navbar-light bg-light">

        </nav>
    </div>
</div>


<body class="home">
    <div class="home1">
        <h1> Welcome to FilterApp! </h1>
        <h2>your friend making site</h2>
        <hr>
        <a href="/signin" class="btn btn-info" role="button"><b>Sign in</b></a>
        <a href="/signup" class="btn btn-info" role="button"><b>Sign up</b></a>
    </div>
    </<body>
    {% endblock %}
